@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime IJSRuntime


<h>Index</h>

@if (!string.IsNullOrEmpty(username))
{
	<p>Hello @username</p>
	<button class="btn btn-primary" @onclick="SignOut">Sign out</button>
}


@code {

	string username = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var userdata = await IJSRuntime.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
		if (!string.IsNullOrWhiteSpace(userdata))
		{
			username = userdata.Split(';', 2)[0];
		}
		else
		{
			NavigationManager.NavigateTo("/signin");
		}
	}

	private async Task SignOut()
	{
		await IJSRuntime.InvokeAsync<string>("localStorage.removeItem", "user").ConfigureAwait(false);
		NavigationManager.NavigateTo("/signin");
	}
}